html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 20px;
    box-shadow: black 1px 1px 6px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.recipeLink {
    list-style-type: none;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: #dbbf3d54;
    padding: 12px 64px;
    display: inline-flex;
}

.recipeLink a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


div {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    box-shadow: black 1px 1px 6px;
}